		*{
			/*background: #aaa;*/
			margin: 0;
			padding: 0;
			font-family: 'Oswald', sans-serif;
		}

		/*---nav var----*/
		.head_1st
		{
			width: 100%;
			height: 50px;
			background: #2C0801; 
			display: flex;	
			position: fixed;
			z-index: 1000;
		}
		.head_1st .logo
		{
			color: #fff;
			/*height: 50px;*/
			width: 100px;
			background: transparent;
			font-size: 30px;
			line-height: 30px;
			margin-left: 5%; 
			overflow: hidden;
			padding: 10px;
		}
		.head_1st .logo a, .sidebar-social li a, .menu_bar li a
		{
			text-decoration: none;
			color: #fff;
			transition: all .2s ease-in-out;
		}
		.head_1st .logo a:hover, .sidebar-social li a:hover,  .menu_bar li a:hover,
		.search-container button i:hover, .owl_product  .owl-carousel_2 .p_items:hover,
		.social-icons i:hover
		{
			transform: scale(1.1);
			color: #aaa;

		}
		.head_1st .search-container
		{
			float: right;
			height: 30px;
			margin-left: 10px;
			margin: auto;
			border-radius: 10px;
			width: 400px;
			box-shadow: 0 0 5px 1px #fff;

		}
		.head_1st .search-container form
		{
			float: right;
			background: #fff;
			width: 100%;
			border-radius: 10px;
			height: 100%;
		}
		.head_1st .search-container input[type=text] 
		{
			padding: 6px;
			height: 20px;
			font-size: 17px;
			line-height: 17px;
			background: transparent;
			border: none;
			outline: none;
		}
		.head_1st .search-container button 
		{
			float: right;
			padding: 3px 10px;
			background: transparent;
			font-size: 17px;
			border: none;
			outline: none;
			cursor: pointer;
		}
		.head_1st .search-container button i
		{
			background: transparent;
			transition: all .2s ease-in-out;
		}
		.sidebar-social {
			margin: 0;
			padding: 0;
			background: transparent;
		}
		.sidebar-social ul {
			margin-right : 30px;
			background: transparent;
		}
		.sidebar-social li {
			text-align: center;
			display: inline-block;
			font-size: 10px;
			background: transparent;
			margin-right: 10px;
		}
		.sidebar-social i {
			display: block;
			margin: 0 auto 10px auto;
			width: 32px;
			height: 32px;
			margin: 10px auto 0;
			line-height: 32px;
			text-align: center;
			font-size: 20px;
			color: #fff;
			margin-top:0;
			padding-top:5px;
			background: transparent;
		}
		.sidebar-social a{
			text-decoration:none;
			width:100%;
			height:100%;
			display:block;
			margin:0;
			padding:0;
			background: transparent;
		}
		.sidebar-social a span{
			color: #fff;
			font-size:8px;
			padding:1px 0 11px 0;
			display:block;
			text-transform:uppercase;
			font-family:'Josefin Sans';
			letter-spacing:1px;
			background: transparent;
		}

		/*-------menu bar start------*/
		.menu_bar
		{
			height: 40px;
			width: 100%;
			background-color:  #511002;
			color: #fff;
			margin-top: 50px;
			position: absolute;

		}
		.menu_bar ul
		{
			align-items: center;
		}
		/*-------menu bar end------*/


		/*----owl-carousel start----*/
		.owl_carousels 
		{
			margin-top: 57px;
		}
		.owl_product
		{
			margin: 0 3%;
		}
		.owl_product  .owl-carousel_2 .p_items
		{
			width: 100%;		
			height: 310px !important;	
			transition: all .2s ease-in-out;		
		}
		.owl_product  .owl-carousel_2 .p_items img
		{
			width: 200px;		
			height: 250px;	
			margin: auto;	
		}
		.owl_product  .owl-carousel_2 .p_items .price 
		{
			text-align: center;
			line-height: 20px;
			color: #000;
			font-size: 15px;
			margin: 0;
		}
		.owl_product  .owl-carousel_2  .timer
		{
			text-align: center;
			color: #aaa;
			font-size: 12px;
			line-height: 15px;
		}
		.owl-carousel .owl-nav button.owl-prev
		{
			width: 30px;		
			height: 30px;		
			position: absolute;
			top: calc(50% - 30px);
			transform: translateY(-50%);
			left: 5px;
			outline: none;
			border: none;
		}
		.owl-carousel .owl-nav button.owl-prev span {
			background: transparent;
			color: #aaa;
			padding: 0!important;			
			margin: -2px !important;			
			font-size: 50px;
			line-height: 50px;	
		}
		.owl-carousel .owl-nav button.owl-next
		{
			width: 30px;		
			height: 30px;		
			position: absolute;
			top: calc(50% - 30px);
			transform: translateY(-50%);
			right: 5px;
			outline: none;
			border: none;
		}
		.owl-carousel .owl-nav button.owl-next span {
			background: transparent;
			color: #aaa;
			padding: 0!important;			
			margin: -2px !important;			
			font-size: 50px;
			line-height: 50px;	
		}
		/*----owl-carousel End----*/
		.categories h2, .owl_product h2
		{
			color: #aaa;
			margin-left: 3%;
		}
		.categories
		{
	position: relative;
	/*margin: 150px auto;*/
	background: rgba(0, 0, 0, 0.9);
	padding: 5px;
	overflow: hidden;
	box-shadow: 0 0 30px 0 #fff;
}
i
{
	width: 25px;
	margin: 0 12px;
	box-shadow: 0 0 10px 0 #fff;
	cursor: pointer;
	border-radius: 50%;
	font-height: 25px;
	font-size: 25px;
	padding: 5px;
	background: #fff;
	transition: all .2s ease-in-out;
	}

		@media only screen and (max-width: 700px)
		{
			.head_1st .search-container
			{
				width: 200px;
			}
		}
		@media only screen and (max-width: 1400px)
		{
			.menu_bar
			{
				display: none;
			}
			.owl_carousels
			{
				margin-top: 17px;
			}
		}



