@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: 'Oswald' sans-serif;
}
.hero a
{
	text-decoration: none;
	color: #777;
	font-size: 15px;
}
.hero
{
	height: 100%;
	width: 100%;
	background-image: url('/web/images/login_banner.jpg');
	background-position: center;
	background-size: cover;
	position: absolute;
}
#user 
{
	font-size: 100px;
	border-radius: 50%;
	position: absolute;
	margin-top:  55px;
	left: calc(50% - 50px);
	color: #E42800;
	z-index: 10000;
}
#user i
{
	background: rgba(0, 0, 0, 0.9);
	border-radius: 50%;
}
.from-box
{
	width: 380px;
	height: 480px;
	position: relative;
	margin: 150px auto;
	background: rgba(0, 0, 0, 0.9);
	padding: 5px;
	overflow: hidden;
	box-shadow: 0 0 30px 0 #fff;
}
.button-box
{
	width: 220px;
	margin: 50px auto 30px;
	position: relative;
	box-shadow: 0 0 10px 0.1px #fff;
	border-radius: 30px;
	background: #fff;
}
.toggles-btn
{
	padding: 10px 30px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	position: relative;
}
#btns
{
	top: 0;
	left: 0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: #E42800;
	border-radius: 30px;
	transition: .5s;
	box-shadow: 0 0 10px 0 #fff;
}
.social-icons
{
	margin: 30px auto;
	text-align: center;
	color: #E42800;

}
.social-icons i
{
	width: 25px;
	margin: 0 12px;
	box-shadow: 0 0 10px 0 #fff;
	cursor: pointer;
	border-radius: 50%;
	font-height: 25px;
	font-size: 25px;
	padding: 5px;
	background: #fff;
			transition: all .2s ease-in-out;
	
}
.input-group
{
	top: 180px;
	position: absolute;
	width: 280px;
	transition: .5s;
}
.input-form
{
	width: 100%;
	padding: 10px 0;
	margin: 5px 0;
	border: none;
	border-bottom: 1px solid #999 ;
	outline: none;
	background: transparent;
	color: #fff;
}
.submit-btns
{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: #E42800;
	border-style: none;
	outline: none;
	box-shadow: 0 0 10px 0 #fff;
	border-radius: 30px;
}
.check-box
{
	margin: 30px 10px 30px 0;
}
span 
{
	color: #777;
	font-size: 12px;
}
#signin{
	left: 50px
}
#signup{
	left: 450px
}